@charset "utf-8";

$font12:12px !default;
$font14:14px !default;
$font18:18px !default;
$font20:20px !default;

$px15:15px !default;
$px30:30px !default;

$colorHelper:#B4BCC4 !default;
$colorBorder:#F2F2F2 !default;
$colorWeak:#758392 !default;
$colorText:#3A4C57 !default;
// $colorTheme:#FD9426 !default;
$colorTheme:#17BCE6 !default;
/* ----------------------------------------- */
$colorWhite: #ffffff !default;
$colorOrange: #FD9426 !default;
$colorGreen: #7ED321 !default;

$bg-black: #252D2E !default;

$yahei:"微软雅黑", "microsoft yahei", Verdana, Lucida, arial, sans-serif, "黑体";